@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexbox($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

/* Customize scrollbar width */
::-webkit-scrollbar {
    // width: 7px;
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.main-container{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    header{
        @include flexbox(center, space-between);
        height: 50px;
        padding: 0 25px;
        .logo{
            font-weight: 600;
            font-size: 18px;
        }
        nav{
            width: 50%;
            @include flexbox(center, center);
            gap: 36px;
            a{
                text-decoration: none;
                color: black;
                font-weight: 450;
                font-size: 14px;
                transition: 200ms;
                padding: 4px 4px;
                &:hover{
                    box-shadow: 0.1em 0.1em 0 0 black,
                                inset 0em 5em 0 0 black;
                    color: white;
                }
            }
        }
        .sign-in{
            .sign-in-btn{
                padding: 6px 12px;
                border: none;
                background-color: transparent;
                outline: none;
                border-radius: 50px;
                font-size: 14px;
                color: black;
                transition: 400ms;
                box-shadow: 0.1em 0.1em 0 0 black,
                                inset 0.1em 0.1em 0 0 black;
                &:hover{
                    cursor: pointer;
                    color: white;
                    border: 1px solid black;
                    box-shadow: 0.1em 0.1em 0 0 black,
                                inset 5em 5em 0 0 black;
                }
            }
        }

    }
    .home-page-wrap{
        height: calc(100vh - 50px);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .img-home-wrap{
            // border: 1px solid green;
            padding: 20px 100px;
            height: calc((100vh - 150px)/2);
            &:nth-child(1), &:nth-child(4){
                @include flexbox(flex-end, flex-start);
            }
            &:nth-child(3), &:nth-child(6){
                @include flexbox(flex-end, flex-end);
            }
            img{
                height: 70%;
                border-radius: 8px;
                transition: 400ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
            .img-bg{
                height: 100%;
                @include flexbox(flex-end, center);
                .bg{
                    @include flexbox(center, center);
                    height: 60%;
                    padding: 24px 24px;
                    border-radius: 8px;
                    background-color: rgb(216, 216, 216);
                }
                img{
                    height: 75%;
                }
            }
        }
        .home-page-content{
            @include flexbox(center, flex-end);
            gap: 16px;
            flex-direction: column;
            text-align: center;
            padding: 12px 12px 0px 12px;
            .main-heading{
                font-size: 28px;
                font-weight: 500;
            }
            .sub-heading{
                color: rgb(129, 129, 129);
                font-weight: 450;
                font-size: 14px;
            }
            .start-btn{
                margin-top: 12px;
                color: white;
                border: 1px solid black;
                box-shadow: 0.1em 0.1em 0 0 black,
                inset 0em 5em 0 0 black;
                outline:none;
                font-size: 12px;
                padding: 10px 18px;
                border-radius: 50px;
                transition: 400ms;
                &:hover{
                    box-shadow: 0.1em 0.1em 0 0 black,
                    inset 0.1em 0.1em 0 0 black;
                    background-color: white;
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }  
}

.homepage-footer{
    height: 100px;
    text-align: center;
    padding-top: 12px;
    .msg{
        color: rgb(129, 129, 129);
        font-size: 12px;
    }
    .company-wrap{
        width: 100%;
        @include flexbox(flex-end, center);
        margin-top: 8px;
        .company-name{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            gap: 6px;
            img{
                height: 75%;
                transition: 200ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.second-page{
    height: calc(100vh - 100px);
    min-height: 700px;
    padding: 24px 100px;
    .images-wrap{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        div{
            height: calc((100vh - 160px)/2);
            @include flexbox(center, center);
            border-radius: 12px;
            background-color: rgb(238, 238, 238);
            img{
                height: 85%;
                border-radius: 12px;
                box-shadow: 2px 2px 20px rgb(167, 167, 167);
                transition: 400ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
        .img1, .img4{
            width: 60%;
        }
        .img2{
            margin-left: -40%;
        }
        .img2, .img3{
            width: 140%;
        }
        .img4{
            margin-left: 40%;
        }
    }
}

.third-page{
    .working-section{
        height: 100vh;
        border: 1px solid blue;
    }
}

