@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexbox($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

/* Customize scrollbar width */
::-webkit-scrollbar {
    // width: 7px;
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


.main-container{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    header{
        @include flexbox(center, space-between);
        height: 50px;
        padding: 0 25px;
        .logo{
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
        }
        nav{
            width: 50%;
            @include flexbox(center, center);
            gap: 36px;
            a{
                text-decoration: none;
                color: black;
                font-weight: 450;
                font-size: 14px;
                transition: 400ms;
                padding: 4px 12px;
                box-shadow: 0em 0em 0 0 black,
                inset 0em 0em 0 0 black;
                &:hover{
                    box-shadow: 0.1em 0.1em 0 0 black,
                                inset 0em 5em 0 0 black;
                    color: white;
                }
            }
        }
        .sign-in{
            .sign-in-btn{
                padding: 6px 12px;
                border: none;
                background-color: transparent;
                outline: none;
                border-radius: 50px;
                font-size: 14px;
                color: black;
                transition: 400ms;
                box-shadow: 0.1em 0.1em 0 0 black,
                                inset 0.1em 0.1em 0 0 black;
                &:hover{
                    cursor: pointer;
                    color: white;
                    border: 1px solid black;
                    box-shadow: 0.1em 0.1em 0 0 black,
                                inset 5em 5em 0 0 black;
                }
            }
        }
        
    }
    .home-page-wrap{
        width: 100vw;
        @include flexbox(center, center);
        .home-page{
            height: calc(100vh - 50px);
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 1440px;
            .img-home-wrap{
                // border: 1px solid green;
                padding: 20px 10%;
                height: calc((100vh - 150px)/2);
                &:nth-child(1), &:nth-child(4){
                    @include flexbox(flex-end, flex-start);
                }
                &:nth-child(3), &:nth-child(6){
                    @include flexbox(flex-end, flex-end);
                }
                img{
                    width: 70%;
                    max-width: 350px;
                    min-width: 200px;
                    border-radius: 8px;
                    transition: 400ms;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
                .img-bg{
                    width: 100%;
                    @include flexbox(flex-end, center);
                    height: 100%;
                    .bg{
                        @include flexbox(center, center);
                        height: 70%;
                        padding: 24px 24px;
                        border-radius: 8px;
                        background-color: rgb(230, 230, 230);
                    }
                    img{
                        width: 65%;
                        max-width: 350px;
                        min-width: 150px;
                    }
                }
            }
        .home-page-content{
            @include flexbox(center, flex-end);
            gap: 16px;
            flex-direction: column;
            text-align: center;
            padding: 12px 12px 0px 12px;
            .main-heading{
                font-size: 28px;
                font-weight: 500;
            }
            .sub-heading{
                color: rgb(129, 129, 129);
                font-weight: 450;
                font-size: 14px;
            }
            .start-btn{
                margin-top: 12px;
                color: white;
                border: 1px solid black;
                box-shadow: 0.1em 0.1em 0 0 black,
                inset 0em 5em 0 0 black;
                outline:none;
                font-size: 12px;
                padding: 10px 24px;
                border-radius: 50px;
                transition: 400ms;
                &:hover{
                    box-shadow: 0.1em 0.1em 0 0 black,
                    inset 0.1em 0.1em 0 0 black;
                    background-color: white;
                    color: black;
                    cursor: pointer;
                    padding: 10px 36px;
                }
            }
        }
    }
    }  
}

.homepage-footer{
    width: 100vw;
    @include flexbox(center, center);
    .footer{   
    height: 100px;
    text-align: center;
    max-width: 1440px;
    padding: 12px 24px;
    .msg{
        color: rgb(129, 129, 129);
        font-size: 12px;
    }
    .company-wrap{
        width: 100%;
        @include flexbox(flex-end, center);
        margin-top: 8px;

        .company-name{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            gap: 6px;
            img{
                width: 75%;
                transition: 200ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}
}

.second-page{
    width: 100vw;
    @include flexbox(center, center);
    .secondpage-items-wrap{
    height: calc(100vh - 100px);
    min-height: 800px;
    padding: 24px 100px;
    .images-wrap{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        div{
            height: calc((100vh - 160px)/2);
            min-height: 350px;
            @include flexbox(center, center);
            border-radius: 12px;
            background-color: rgb(238, 238, 238);
            img{
                width: 35%;
                min-width: 100px;
                border-radius: 12px;
                box-shadow: 2px 2px 20px rgb(167, 167, 167);
                transition: 400ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
        .img1, .img4{
            width: 60%;
        }
        .img2{
            margin-left: -40%;
        }
        .img2, .img3{
            width: 140%;
            img{
                width: 45%;
            }
        }
        .img4{
            margin-left: 40%;
        }
    }
}
}

.third-page{
    width: 100vw;
    @include flexbox(center, center);
    .third-page-wrap{
    max-width: 1440px;
    .working-section{
        height: 100vh;
        padding: 24px 124px;
        @include flexbox(flex-start, center);
        flex-direction: column;
        .main-heading{
            font-size: 18px;
            font-weight: 450;
            margin-bottom: 12px;
        }
        .sub-heading{
            font-size: 12px;
            color: rgb(167, 167, 167);
            font-weight: 350;
        }
        .working-box-wrap{
            margin-top: 60px;
            .box{
                @include flexbox(flex-start, flex-start);
                gap: 24px;
                .num{
                    background-color: rgb(235, 235, 235);
                    font-weight: 500;
                    border-radius: 50px;
                    padding: 20px 12px;
                }
                .info{
                    width: 60%;
                    height: 20vh;
                    @include flexbox(flex-start, flex-start);
                    gap: 12px;
                    flex-direction: column;
                    .about{
                        font-size: 14px;
                    }
                }

            }
        }
    }
    .path-wrap{
        height: 50vh;
        min-height: 600px;
        padding: 12px 124px;
        @include flexbox(flex-start, center);
        flex-direction: column;
        .main-heading{
            font-size: 18px;
            font-weight: 450;
            margin-bottom: 12px;
        }
        .sub-heading{
            font-size: 14px;
            color: rgb(167, 167, 167);
            width: 50%;
            // margin-bottom: 48px;
        }
        .table{
            margin-top: 48px;
            border-top: 1px solid lightgray;
            padding-top: 48px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-bottom: 1px solid lightgray;
            padding-bottom: 24px;
            .plan{
                padding: 0px 24px;
                &:nth-child(1){
                    border-right: 1px solid lightgray;
                }
                &:nth-child(3){
                    border-left: 1px solid lightgray;
                }
                .plan-heading{
                    font-size: 18px;
                    font-weight: 450;
                    margin-bottom: 6px;
                }
                .plan-info{
                    font-size: 12px;
                    color: rgb(145, 145, 145);
                }
                .time-box{
                    display: flex;
                    gap: 12px;
                    margin-top: 8px;
                    .icon{
                        color: rgb(167, 167, 167);
                    }
                    .time{
                        color: rgb(167, 167, 167);
                        font-size: 12px;
                    }
                }
                .plan-tickbox{
                    margin-top: 12px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 6px;
                    .tick{
                        width: 20%;
                    }
                    .tick-info{
                        width: 180%;
                        margin-left: -80%;
                        font-size: 14px;
                        font-weight: 450;
                    }
                }
                .book-btn{
                    border: none;
                    outline: none;
                    box-shadow: 0.1em 0.1em 0 0 black,
                    inset 0em 20em 0 0 black;
                    color: white;
                    width: 100%;
                    padding: 12px 12px;
                    margin-top: 24px;
                    border-radius: 50px;
                    transition: 400ms;
                    &:hover{
                        cursor: pointer;
                        color: black;
                        box-shadow: 0.2em 0.2em 0 0 black,
                                    inset 0.2em 0.2em 0 0 black;
                        background-color: white;
                        border-radius: 0px;
                    }
                }
            }
        }
    }
}
}

.back-to-top{
    background-color: black;
    height: 48px;
    width: 48px;
    display: none;
    border-radius: 50%;
    position: fixed;
    bottom: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    &:hover{
        cursor: pointer;
    }
}

footer{
    height: 75vh;
    width: 100vw;
    @include flexbox(center, center);
    padding: 12px 12px;
    min-height: 350px;
    .footer-wrap{
        max-width: 1440px;
        @include flexbox(center, center);
        flex-direction: column;
        background-color: rgb(12, 12, 12);
        width: 100%;
        border-radius: 12px;
        height: 100%;
        .top-footer{
            @include flexbox(center, center);
            flex-direction: column;
            gap: 24px;
            height: 80%;
            .main-heading{
                font-size: 18px;
                color: white;
                font-weight: 450;
            }
            .sub-heading{
                font-size: 14px;
                color: rgb(161, 161, 161);
                width: 60%;
                text-align: center;
            }
            .start-btn{
                opacity: 1;
                color: black;
                line-height: 40px;
                position: relative;
                text-align: center;
                letter-spacing: 1px;
                display: inline-block;
                outline: none;
                border: none;
                &:hover{
                    cursor: pointer;
                    &:after{
                      opacity: 1;
                      transform: translateY(0) rotateX(0);
                    }
                    
                    &:before{
                      opacity: 0;
                      transform: translateY(50%) rotateX(90deg);
                    }
                  }
                  
                  &:after{
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    color: black;
                    display: block;
                    transition: 400ms;
                    position: absolute;
                    background: white;
                    content: attr(data-back);
                    transform: translateY(-50%) rotateX(90deg);
                  }
                  
                  &:before{
                    top: 0;
                    left: 0;
                    opacity: 1;
                    color: white;
                    display: block;
                    padding: 0 144px;
                    line-height: 40px;
                    transition: 400ms;
                    position: relative;
                    background: rgb(49, 49, 49);
                    content: attr(data-front);
                    transform: translateY(0) rotateX(0);
                  }
            }
        }
        .bottom-footer{
            height: 16%;
            padding: 0px 24px;
            width: 100%;
            @include flexbox(flex-end, space-between);
            .replica{
                color: white;
            }
            .copyright{
                color: rgb(129, 129, 129);
                span{
                    color: white;
                }
            }
        }
    }
}

