@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* info box */
.info_box {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.942);
  z-index: 99999;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  transition: 600ms;
}

.info_box .info_text {
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.info_text .main-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.info_text p {
  line-height: 24px;
}

.info_box button {
  font-size: 50px;
  background: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

/* main container */
.main-container {
  width: 100%;
  height: 100vh;
  min-height: 800px;
}
.main-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 25px;
}

.main-container header .logo {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.main-container header nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.main-container header nav a {
  text-decoration: none;
  color: black;
  font-weight: 450;
  font-size: 14px;
  transition: 400ms;
  padding: 4px 12px;
  box-shadow: 0em 0em 0 0 black, inset 0em 0em 0 0 black;
}

.main-container header nav a:hover {
  box-shadow: 0.1em 0.1em 0 0 black, inset 0em 5em 0 0 black;
  color: white;
}

.main-container header .sign-in .sign-in-btn {
  padding: 6px 12px;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  transition: 400ms;
  box-shadow: 0.1em 0.1em 0 0 black, inset 0.1em 0.1em 0 0 black;
}

.main-container header .sign-in .sign-in-btn:hover {
  cursor: pointer;
  color: white;
  border: 1px solid black;
  box-shadow: 0.1em 0.1em 0 0 black, inset 5em 5em 0 0 black;
}

.main-container .home-page-wrap {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-wrap .home-page {
  height: calc(100vh - 50px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1440px;
}

.home-page .img-home-wrap {
  padding: 20px 10%;
  height: calc((100vh - 150px) / 2);
}

.home-page .img-home-wrap:nth-child(1),
.home-page .img-home-wrap:nth-child(4) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.home-page .img-home-wrap:nth-child(3),
.home-page .img-home-wrap:nth-child(6) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.img-home-wrap img {
  width: 70%;
  max-width: 350px;
  min-width: 200px;
  border-radius: 8px;
  transition: 400ms;
}

.img-home-wrap img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img-home-wrap .img-bg {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.img-home-wrap .img-bg .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding: 24px 24px;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
}

.img-home-wrap .img-bg img {
  width: 65%;
  max-width: 350px;
  min-width: 150px;
}

.home-page .home-page-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  flex-direction: column;
  text-align: center;
  padding: 12px 12px 0px 12px;
}

.home-page-content .main-heading {
  font-size: 28px;
  font-weight: 500;
}

.home-page-content .sub-heading {
  color: rgb(129, 129, 129);
  font-weight: 450;
  font-size: 14px;
}

.home-page-content .start-btn {
  margin-top: 12px;
  color: white;
  border: 1px solid black;
  box-shadow: 0.1em 0.1em 0 0 black, inset 0em 5em 0 0 black;
  outline: none;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 50px;
  transition: 400ms;
}

.home-page-content .start-btn:hover {
  box-shadow: 0.1em 0.1em 0 0 black, inset 0.1em 0.1em 0 0 black;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px 36px;
}

.homepage-footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-footer .footer {
  height: 100px;
  text-align: center;
  max-width: 1440px;
  padding: 12px 24px;
}

.footer .msg {
  color: rgb(129, 129, 129);
  font-size: 12px;
}

.footer .company-wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 8px;
}

.company-wrap .company-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.footer .company-wrap .company-name img {
  width: 75%;
  transition: 200ms;
}

.footer .company-wrap .company-name img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* second page */
.second-page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page .secondpage-items-wrap {
  height: calc(100vh - 100px);
  min-height: 800px;
  padding: 24px 100px;
}

.secondpage-items-wrap .images-wrap {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.secondpage-items-wrap .images-wrap div {
  height: calc((100vh - 160px) / 2);
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
}

.images-wrap div img {
  width: 35%;
  min-width: 100px;
  border-radius: 12px;
  box-shadow: 2px 2px 20px rgb(167, 167, 167);
  transition: 400ms;
}

.images-wrap div img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.images-wrap .img1,
.images-wrap .img4 {
  width: 60%;
}

.images-wrap .img2 {
  margin-left: -40%;
}

.images-wrap .img2,
.images-wrap .img3 {
  width: 140%;
}

.images-wrap .img2 img,
.images-wrap .img3 img {
  width: 45%;
}

.images-wrap .img4 {
  margin-left: 40%;
}

/*  third page */
.third-page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-page .third-page-wrap {
  max-width: 1440px;
}

.third-page-wrap .working-section {
  height: 100vh;
  padding: 24px 124px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.working-section .main-heading {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 12px;
}

.working-section .sub-heading {
  font-size: 12px;
  color: rgb(167, 167, 167);
  font-weight: 350;
}

.working-section .working-box-wrap {
  margin-top: 60px;
}

.working-box-wrap .box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.working-box-wrap .box .num {
  background-color: rgb(235, 235, 235);
  font-weight: 500;
  border-radius: 50px;
  padding: 20px 12px;
}

.working-box-wrap .box .info {
  width: 60%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  flex-direction: column;
}


.working-box-wrap .box .info .about {
  font-size: 14px;
}

.third-page-wrap .path-wrap {
  height: 50vh;
  min-height: 600px;
  padding: 12px 124px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.path-wrap .main-heading {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 12px;
}

.path-wrap .sub-heading {
  font-size: 14px;
  color: rgb(167, 167, 167);
  width: 50%;
}

.path-wrap .table {
  margin-top: 48px;
  border-top: 1px solid lightgray;
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

.path-wrap .table .plan {
  padding: 0px 24px;
}

.path-wrap .table .plan:nth-child(1) {
  border-right: 1px solid lightgray;
}

.path-wrap .table .plan:nth-child(3) {
  border-left: 1px solid lightgray;
}

.table .plan .plan-heading {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 6px;
}

.table .plan .plan-info {
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.table .plan .time-box {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.table .plan .time-box .icon {
  color: rgb(167, 167, 167);
}

.plan .time-box .time {
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.plan .plan-tickbox {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.plan .plan-tickbox .tick {
  width: 20%;
}

.plan .plan-tickbox .tick-info {
  width: 180%;
  margin-left: -80%;
  font-size: 14px;
  font-weight: 450;
}

.plan .book-btn {
  border: none;
  outline: none;
  box-shadow: 0.1em 0.1em 0 0 black, inset 0em 20em 0 0 black;
  color: white;
  width: 100%;
  padding: 12px 12px;
  margin-top: 24px;
  border-radius: 50px;
  transition: 400ms;
}

.plan .book-btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0.2em 0.2em 0 0 black, inset 0.2em 0.2em 0 0 black;
  background-color: white;
  border-radius: 0px;
}

/* back to top */
.back-to-top {
  background-color: black;
  height: 48px;
  width: 48px;
  display: none;
  border-radius: 50%;
  position: fixed;
  bottom: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: white;
}

.back-to-top:hover {
  cursor: pointer;
}

/* footer */
footer {
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  min-height: 350px;
}

footer .footer-wrap {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(12, 12, 12);
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.footer-wrap .top-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  height: 80%;
}

.top-footer .main-heading {
  font-size: 18px;
  color: white;
  font-weight: 450;
}

.top-footer .sub-heading {
  font-size: 14px;
  color: rgb(161, 161, 161);
  width: 60%;
  text-align: center;
}

.top-footer .start-btn {
  opacity: 1;
  color: black;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  outline: none;
  border: none;
}

.top-footer .start-btn:hover {
  cursor: pointer;
}

.top-footer .start-btn:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.top-footer .start-btn:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.top-footer .start-btn:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: black;
  display: block;
  transition: 400ms;
  position: absolute;
  background: white;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.top-footer .start-btn:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  display: block;
  padding: 0 144px;
  line-height: 40px;
  transition: 400ms;
  position: relative;
  background: rgb(49, 49, 49);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.footer-wrap .bottom-footer {
  height: 16%;
  padding: 0px 24px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottom-footer .replica {
  color: white;
}

.bottom-footer .copyright {
  color: rgb(129, 129, 129);
}

.bottom-footer .copyright span {
  color: white;
}

/* responsive styling */
@media all and (max-width: 1000px) {
  .main-container header nav {
    width: 75%;
  }

  .third-page .third-page-wrap .path-wrap {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .path-wrap .table {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }

  .path-wrap .table .plan:nth-child(1),
  .path-wrap .table .plan:nth-child(3) {
    border: none;
  }
}

@media all and (max-width: 850px) {
  .main-container {
    height: calc((100vh - 50px) * 1.25);
  }
  .main-container header .logo {
    display: none;
  }
  .main-container header nav {
    width: 100%;
  }
  .main-container header .sign-in {
    display: none;
  }
  .main-container .home-page-wrap .home-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-page .img-home-wrap:nth-child(2),
  .home-page .img-home-wrap:nth-child(4),
  .home-page .img-home-wrap:nth-child(5),
  .home-page .img-home-wrap:nth-child(6) {
    display: none;
  }
  .home-page-content {
    margin-top: 60px;
  }
}

@media all and (max-width: 700px) {
  .third-page .third-page-wrap {
    margin-bottom: 24px;
  }
  .third-page .third-page-wrap .working-section {
    margin-bottom: 60px;
    padding: 24px 60px;
  }
  .working-box-wrap .box .info {
    width: 100%;
  }
  .third-page .third-page-wrap .path-wrap {
    padding: 12px 24px;
  }
}
